.product-card {
    min-height: 90vh;
    margin-left: 20vw;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-card img {
    width: 40%
}

h4{
    margin-bottom: 0px;
}

p{
    margin-top: 0px;
}

h3{
    margin-bottom: 0px;
}

h5{
    margin-top: 5px;
}